.rel {
    position: relative;
}

.gold {
    color: $gold;
}

.peach {
    color: $peach;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -2px;
    margin-left: -2px;
}

.hidden-xxs {
    @media (max-width: 479px) {
        display: none;
    }
}
