footer.footer
  .container
    .footer__heading We would love to help <span class="peach">market</span> your business, <span class="peach">see</span> your part of the world, and <span class="peach">meet</span> you!
    .footer__subheading Please reach out to us today!
    .footer__email
      a(href="mailto:roaminglovetravel@gmail.com") roaminglovetravel@gmail.com
