.footer {
    padding: 0 0 100px 0;
    background: $blue-med;
    color: $white;
    text-align: center;
    position: relative;

    @media (max-width: $screen-sm-max) {
        padding-bottom: 80px;
    }

    @media (max-width: 479px) {
        padding-bottom: 60px;
    }

    &__mtn {
        background: $blue-dark;
        margin-top: -1px;
        margin-bottom: -1px;

        img {
            display: block;
            width: 102%;
            margin-left: -2%;
            position: relative;
            top: 1px;
        }
    }

    &__heading {
        font-family: $displayFont;
        font-size: 36px;
        margin: 0 auto 35px;
        max-width: 660px;

        @media (max-width: $screen-sm-max) {
            font-size: 30px;
            max-width: 550px;
            margin-top: 10px;
        }

        @media (max-width: $screen-xs-max) {
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 25px;
        }

        @media (max-width: 479px) {
            font-size: 22px;
        }
    }

    &__subheading {
        font-size: 24px;
        margin-bottom: 75px;

        @media (max-width: $screen-sm-max) {
            font-size: 22px;
            margin-bottom: 60px;
        }

        @media (max-width: $screen-xs-max) {
            font-size: 20px;
            margin-bottom: 50px;
        }

        @media (max-width: 479px) {
            font-size: 18px;
        }
    }

    &__email {
        a {
            color: $white;
            font-family: $displayFont;
            font-size: 36px;
            position: relative;
            padding: 15px 0 20px;

            @media (max-width: $screen-sm-max) {
                font-size: 30px;
            }

            @media (max-width: $screen-xs-max) {
                font-size: 25px;
            }

            @media (max-width: 479px) {
                font-size: 22px;
            }


            &:before {
                content: " ";
                height: 6px;
                width: 80%;
                background: $gold;
                position: absolute;
                top: 0;
                left: 10%;
            }

            &:after {
                content: " ";
                height: 6px;
                width: 80%;
                background: $gold;
                position: absolute;
                bottom: 0;
                left: 10%;
            }

        }
    }

}

