$white: #fff;
$displayFont: 'Oswald', sans-serif;
$defaultFont: 'Raleway', sans-serif;

$black: #4A4A4A;
$gray: #ccc;
$red: #f00;
$blue-dark: #171D3C;
$blue-med: #354466;
$blue-light: #596682;
$peach: #F8947D;
$yellow-pale: #FEE783;
$gold: #EDAB35;


$primary-color: $gold;
$secondary-color: $peach;
$tertiary-color: $blue-light;

